

<div class="container">
    <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="<%= @one_book.image_url %>" alt="">
            </div>
            <div class="col-md-6">
                 <h2>제목: <%= @one_book.subject %></h2>
                <p>책이름: <%= @one_book.bookname %></p>
                <p>저자: <%= @one_book.writer %></p>
                <p>연관된 강의: <%= @one_book.lesson %></p>
                <p>출판사: <%= @one_book.publish %></p>
                <p>세부사항: <%= @one_book.detail %></p>
            </div>
    </div>
</div>



